<p-toast></p-toast>
<!-- <p-confirmdialog></p-confirmdialog> -->
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5 class="text-blue-500 font-bold"><i class="pi pi-building text-4xl"></i>ผู้ป่วยที่นอนตึก [{{wardName}}]
            </h5>
            <p-sidebar [(visible)]="visibleChangDoctor" position="right">
                <h3>เลือกแพทย์</h3>
                <div class="flex flex-column tw-py-2 justify-content-center">                   

				<button *ngFor="let item of doctors" pButton pRipple type="button" label="{{item.fname}}" class="p-button-outlined"></button>

                </div>
            </p-sidebar>
            <!-- <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button> -->
            <!-- <p-dialog header="Header" [(visible)]="visibleChangDoctor" [style]="{ width: '50vw' }">
                <div class="flex py-2 justify-content-center">
                    <p-dropdown [options]="wards" [(ngModel)]="selectedWard" optionLabel="name"
                    [showClear]="true" placeholder="เลือกตึก" (onChange)="onSelectWard($event)"
                    class="sm:w-auto flex-order-1 sm:flex-order-1 tw-min-w-40"></p-dropdown>
                </div>
            </p-dialog> -->
            <p-toast></p-toast>
            <p-confirmDialog>
                <ng-template pTemplate="message" let-message>
                    <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
                        <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
                        <p>{{ message.message }}</p>
                    </div>
                </ng-template>
            </p-confirmDialog>




            <p-table #pnl [value]="dataSet" scrollDirection="both" [paginator]="true" [rows]="10" [scrollable]="true"
                [showCurrentPageReport]="true" styleClass="mt-3" responsiveLayout="scroll" [rowHover]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['an','hn','fname','lname']">
                <ng-template pTemplate="caption">
                    <div class="flex gap-2 align-items-center justify-content-between ">
                        <div class=" gap-2  tw-w-1/2">

                            <span class="p-input-icon-left sm:w-20rem flex-order-1 sm:flex-order-0">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(pnl, $event)" placeholder="ค้นหา"
                                    class="w-full border-1 border-gray-400 pl-5 pb-2 pt-2 tw-rounded" />
                            </span>
                        </div>
                        <div class="flex tw-gap-2  tw-w-1/2 justify-content-end align-items-end">

                            <div class="flex">
                                <span class="p-input-icon-right w-full">
                                    <i class="pi pi-calendar z-1" style="left: 1rem;"></i>
                                    <p-calendar name="endDate" dateFormat="yy-mm-dd" [showTime]="false"
                                        [required]="true" inputStyleClass="w-full pl-7 text-900 font-semibold"
                                        appendTo="body" [style]="{'width':'150px'}"
                                        [inputStyle]="{'width':'150px'}"></p-calendar>
                                </span>

                                <!-- <p-calendar [(ngModel)]="date2"  [showIcon]="true" inputId="icondisplay"></p-calendar> -->
                            </div>
                            <p-dropdown [options]="wards" [(ngModel)]="selectedWard" optionLabel="name"
                                [showClear]="true" placeholder="เลือกตึก" (onChange)="onSelectWard($event)"
                                class="sm:w-auto flex-order-1 sm:flex-order-1 tw-min-w-40"></p-dropdown>
                        </div>
                    </div>

                </ng-template>
                <ng-template pTemplate="header">
                    <!-- <tr>
                        <th class="text-center">ลำดับ</th>
                        <th pSortableColumn="hospital_code">รหัสหน่วยบริการ <p-sorticon field="hospital_code"></p-sorticon></th>
                        <th pSortableColumn="hospital_name">ชื่อหน่วยบริการ <p-sorticon field="hospital_name"></p-sorticon></th>
                        <th class="text-center" pSortableColumn="is_active">สถานะการใช้งาน <p-sorticon field="is_active"></p-sorticon></th>
                        <th class="text-center"></th>
                    </tr> -->
                    <tr>
                        <th class="text-center">Bed</th>
                        <th class="text-center">AN</th>
                        <th class="text-center">HN</th>
                        <th>ชื่อ - สกุล</th>
                        <th>อายุ</th>
                        <th>เพศ</th>
                        <th>Diag text</th>
                        <th>Admit Date</th>
                        <th></th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-dataSet let-i="rowIndex">
                    <tr>
                        <td style=" text-align: center;">{{dataSet.bed_number}}</td>
                        <td>{{dataSet.an}}</td>
                        <td>{{dataSet.hn}}</td>
                        <td>{{dataSet.title}}{{dataSet.fname}} {{dataSet.lname}}</td>
                        <td>{{dataSet.age | thaiage}}</td>
                        <td>{{dataSet.gender}}</td>
                        <td>{{dataSet.pre_diag}}</td>
                        <td>{{dataSet.admit_date}} : {{dataSet.admit_time}} </td>

                        <td class="text-center">

                            <div class="flex  gap-2">
                                <!-- <p-confirmPopup></p-confirmPopup> -->
                                <!-- <p-confirmDialog></p-confirmDialog> -->
                                <button pButton pRipple icon="pi pi-file-edit" class="p-button-outlined p-0"
                                    size="small" (click)="navigateWaitingAdmit(dataSet)"></button>
                                <button type="button" pButton icon="fa fa-list" label=""
                                    (click)="activeItem = dataSet;menu.toggle($event)"></button>
                                <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
                            </div>
                        </td>
                    </tr>

                </ng-template>
            </p-table>
        </div>
    </div>
</div>